body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 320px;
  height: fit-content;
  padding-bottom: 2rem;
}



/*Variables*/
:root{
  --primary: #274060;
  --primary-light: #546b8e;
  --primary-dark: #001a36;
  --secondary: #604727;
  --secondary-light: #8f7250;
  --secondary-dark: #352000;
  --text-color: #ffffff;
  --background-color: #e1e2e1;
  --background-secondary: #f5f5f6;
  /*Font Variables*/
  --header: lb;
  --header-bold: lb-bold;
  --header-italic: lb-italic;
  --body: os;
  --body-bold: os-bold;
  --body-italic: os-italic;
}

@font-face {font-family: lb; src: url('./assets/fonts/libre-baskerville/LibreBaskerville-Regular.ttf');}
@font-face {font-family: lb-bold; src: url('./assets/fonts/libre-baskerville/LibreBaskerville-Bold.ttf');}
@font-face{font-family: lb-italic; src: url('./assets/fonts/libre-baskerville/LibreBaskerville-Italic.ttf');}
@font-face {font-family: os; src: url('./assets/fonts/open-sans/OpenSans-Regular.ttf');}
@font-face {font-family: os-bold; src: url('./assets/fonts/open-sans/OpenSans-Bold.ttf');}
@font-face{font-family: os-italic; src: url('./assets/fonts/open-sans/OpenSans-Italic.ttf');}


#root{
  height: 100%;
}
.centered-column{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.centered-spaced-column{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.hide{
  display: none;
}
.show{
  display: flex;
}
.wrapper{
  background: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}
nav{
  width: 90%;
  height: 12rem;
  padding: 1rem 5%;
  display: flex;
  align-items: center;
  font-family: var(--header-bold);
  font-size: 1.35rem;
  text-transform: uppercase;
  background: var(--primary);
  color: var(--text-color);
}
.form-wrapper{
  background: var(--background-color);
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

Form{
  margin-top: -3rem;
  display: flex;
  flex-direction: column;
  width: 80%;
  justify-content: center;
  align-items: center;
  height: fit-content;
  font-family: var(--body-bold);
  background: var(--background-secondary);
  color: var(--logo-complement);
}

Form >* {
  margin: 1em;
}
.dollar-field {
  background-image: url(./assets/svgs/usd-square.svg);
  background-repeat: no-repeat;
  background-position: 2px 0px;
  text-indent: 1rem;
  color: var(--primary);
}
.name-field{
  background-image: url(./assets/svgs/user-circle.svg);
  background-repeat: no-repeat;
  background-position: 1px 0px;
  text-indent: 1rem;
}
.email-field{
  background-image: url(./assets/svgs/at.svg);
  background-repeat: no-repeat;
  background-position: 1px 0px;
  text-indent: 1rem;
}
Form > h1 {
  max-width: 60%;
}
input{
  border: 1px solid black;
  padding: .25rem 2rem;
  border-radius: 2px;
  background: var(--background-secondary);
}
.get-results-wrapper{
  margin-top: 2rem;
  height: 25rem;
  border-top: 2px solid var(--primary-dark);
}
.get-results-wrapper > h3{
  padding: .5rem;
  background: var(--secondary);
  color: var(--text-color);
}
.get-results-wrapper > button{
  background: var(--secondary);
  border: none;
  padding: 1em;
  font-size: 1.5rem;
  color: var(--text-color);
}

.progress-bar{
  position: fixed;
  bottom:0px;
  width: 100vw;
  height: 3rem;
  background: var(--primary-dark);
}
.progress-bar > h3{
  display: flex;
  justify-content: center;
  margin: .1em 0em;
  color: var(--text-color);
}
.progress-bar > ul{
  display: flex;
  width: 100%;
  height: 100%;
  list-style: none;
  margin: 0px;
  padding: 0px;
  border-top: 1px solid var(--primary-light);
}
.progress-bar > ul > li{
  flex: 1;
  background: var(--primary-light);
  border-right: 1px solid var(--primary-light);
}

.filled-in{
  background: var(--primary-dark) !important;
}

.results-window{
  position: fixed;
  z-index: 99;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--primary-dark);
  color: var(--text-color); 
}
.results-words{
  display: flex;
  width: 80%;
  justify-content: center;
}
.close-button{
  display: flex;
  justify-content: center;
  padding:.5rem;
  background:var(--secondary);
  color:white;
  width: 8rem;
}
@media only screen and (min-width: 768px){
  body{
    height: 100vh;
  }
  .form-wrapper{
    padding-bottom: 2rem;
  }
  Form{
    display: grid;
    font-size: 1.25rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 8rem 8rem 8rem 25rem;
  }
  Form > label{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .dollar-field {
    text-indent: 2rem;
  }
  .name-field{
    text-indent: 2rem;
  }
  .email-field{
    text-indent: 2rem;
  }
  input{
    padding: .35rem;
  }
  .get-results-wrapper{
    grid-column: span 2;
  }
}